<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Visualization 1</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
       .tick text {
            font: 14px century;
        }
    </style>
</head>
<body>
{% block content %}
<script>
    data_mw = {{json_map|safe}}
    data_keys = {{keys|safe}}
</script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Covid Story: Health Pre-conditions</a>
    </div>
  </div>
</nav>

<!-- Bootstrap grid setup -->
<div class="container">
    <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <h3>Hospitalized Patients Health Pre-conditions</h3>
    </div>
    <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="col-sm-1">
                <label for="sex-select" style="display: inline;">Condition:</label>
        </div>
        <div class="col-sm-3">
            <select id="sex-select" class="form-control">
                <option selected value=0>Tabaquism</option>
                <option value=1>Diabetes</option>
                <option value=2>Asthma</option>
                <option value=3>Hypertension</option>
                <option value=4>Cardiovascular</option>
                <option value=5>Obesity</option>
                <option value=6>Chronic Renal</option>
                <option value=7>Other</option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div id="chart-area"></div>
        </div>
    </div>
</div>

<!-- External JS libraries -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/d3.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'js/viz-01.js' %}"></script>
{% endblock %}
</body>
</html>